In [50]:
from pathlib import Path
import pandas as pd 
import os 
import panel as pn

In [28]:
simulated_df = pd.read_csv(Path('Resources/monte_carlo_results.csv'), index_col ='State')

In [31]:
simulated_df.head()

,2020-12-31,2021-12-31,2022-12-31,2023-12-31,2024-12-31,2025-12-31,2026-12-31,2027-12-31,2028-12-31,2029-12-31
State,,,,,,,,,,
Alabama,2.915907,2.560999,2.249288,1.975517,1.735067,1.523884,1.338405,1.175502,1.032426,0.906765
Alaska,6.181989,6.046991,5.914942,5.785776,5.659431,5.535845,5.414957,5.296710,5.181044,5.067905
Arizona,4.510437,4.151845,3.821763,3.517923,3.238239,2.980790,2.743809,2.525669,2.324872,2.140039
Arkansas,3.285059,3.014416,2.766071,2.538186,2.329076,2.137193,1.961118,1.799550,1.651293,1.515249
California,3.646690,3.235607,2.870865,2.547240,2.260096,2.005321,1.779266,1.578694,1.400731,1.242830

In [32]:
final_df = simulated_df.reset_index().melt('State')

In [34]:
final_df.rename(columns = {'variable':'Year',
                          'value':'Unemployment Rate'}, inplace = True)

In [36]:
coordinates_data = pd.read_csv(Path('Resources/coordinates_data.csv'), index_col = 'State')

In [38]:
final_df.set_index('State', inplace = True)

In [40]:
map_df  = join_df = pd.concat([final_df,coordinates_data], axis = 1, join = 'inner')

In [43]:
map_df.reset_index(inplace =True)

In [44]:
map_df.dtypes

In [49]:
map_df.to_csv('Resources/map_data.csv')